extends layout

block content
  section 
      div(class='flex justify-between') 
          a(class='text-link-color go-back') Back
          
  section
    div
      h2= message
      h3= error.status
      pre(class='w-screen overflow-x-auto') #{error.stack}
