extends layout

block content
    section 
        div(class='flex justify-between') 
            a(href='/group' class='text-link-color') &#128896; Back
            a(href='/group/' + group._id + '/update' class='text-link-color') Edit &#128898;
    
    section
        div 
            h2(class='uppercase') #{group.name}
            p #{group.description}
            h2(class='mt-4 uppercase') Chemicals in record
                if (groupChemicals && groupChemicals.length)
                    ul(class='px-3')
                        each chemical in groupChemicals
                            li(class='list-disc list-inside')
                                a(href='/chemical/' + chemical._id class='capitalize text-link-color')!= chemical.name
                else 
                    p(class='font-normal normal-case') None of the chemicals in the record possess this particular functional group.
