extends layout

block content
    section 
        div(class='flex justify-between') 
            a(href='/group' class='text-link-color') &#128896; List
            a(href='/' class='text-link-color') Home
            a(href='/group/' + group._id + '/update' class='text-link-color') Edit &#128898;
    
    section
        div 
            h3 #{group.name}
            p(class='indent') #{group.description}

    section
        div
            h3 Chemicals in Record
            if (groupChemicals && groupChemicals.length)
                ul(class='indent')
                    each chemical in groupChemicals
                        li(class='list-disc list-inside')
                            a(href='/chemical/' + chemical._id class='capitalize text-link-color')= chemical.name
            else 
                p(class='indent') None of the chemicals in the record possess this particular functional group.

    section 
        div(class='flex justify-end')
            a(href='/group/' + group._id + '/delete' class='inline-block')
                button(type='button' class='deleteBtn') Delete
                