doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/output.css')
    link(rel="shortcut icon", href="/images/favicon.png", type="image/x-icon")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(src='/javascripts/themeToggler.js' defer)
    script(src='/javascripts/goBack.js' defer)

  body(class='flex flex-col h-screen bg-slate-50 dark:bg-slate-700 text-slate-900 dark:text-slate-300')
    //- Decorative shades of light
    div(class='absolute right-0 pointer-events-none select-none')
      img(src='/images/background-light.png', alt='Shades of light')

    //- Title bar
    section(class='flex-none border-b-2 dark:border-dark-color')
      div(class='flex justify-between mx-auto max-w-screen-2xl')
        div(class='flex items-center')
          img(src='/images/favicon.png', alt='Logo' class='inline-block pointer-events-none h-7')
          h1(class='inline-block text-slate-800 dark:text-slate-100') ChemStore
        button#dark-theme-toggler(class='dark:hidden')
          img(src='/images/dark-theme.svg', alt="Dark theme icon" class='pointer-events-none')
        button#light-theme-toggler(class='hidden dark:block')
          img(src='/images/light-theme.svg', alt="light theme icon" class='pointer-events-none')
            
    //- Main content
    div(class='flex items-start flex-grow flex-shrink w-full min-h-0 mx-auto max-w-screen-2xl')
      //- Side menu
      div(class='flex-none hidden w-48 md:block fixer')
        ul(class='[&>li]:mt-3 px-3')
          li
            a(href='/' class='text-link-color') Home
          li
            a(href='/group' class='text-link-color') All Groups
          li
            a(href='/chemical' class='text-link-color') All Chemicals
          li
            a(href='/product' class='text-link-color') All Products
          li
            hr(class='dark:border-dark-color')
          li
            a(href='/group/create' class='text-link-color') Create Group
          li
            a(href='/chemical/create' class='text-link-color')  Create Chemical
          li
            a(href='/product/create' class='text-link-color') Create Product

      //- App
      div(class='flex flex-col flex-grow flex-shrink [&>*]:w-full min-w-0 md:border-l-2 self-stretch overflow-y-auto dark:border-dark-color')
        section 
          div
            h2= title

        block content

        section(class='mt-auto') 
          div(class='text-center bg-violet-300/80 dark:bg-gray-900/30') 
            a(href='https://github.com/kentshenlim/chem-store-inventory' target='_blank')
              span(class='font-bold') &copy;
              img(src='/images/github.svg', alt="GitHub icon" class='inline dark:hidden')
              img(src='/images/github-white.svg', alt="GitHub icon" class='hidden dark:inline')
