extends layout

block content
    section 
        div(class='flex justify-between') 
            a(href='/product/' + product._id class='text-link-color') &#128896; Back

    section
        div
            h3 Delete
            form(method='post' action='')
                p Are you sure you want to delete the product SKU: #[strong #{product.sku}]? 
                    span(class='text-warning-color') This cannot be undone!
                input(type='hidden' name='deleteId' value=product._id required=true)
                div(class='cancelDeleteRow')
                    button(type='button')
                        a(href='/product/' + product._id)  Cancel
                    button(type='submit') Delete